.letterStyle{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 2em;
  font-weight: bold;
  }
  .detail{
    margin-left: 30px;
    height: 600px ;
    overflow: auto;
  }
  .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
  }
  .updateImg{
    display: flex;
    flex-direction: column;
  }
  img{
    border-radius: 2%;
  
    width: 700px;
    height: 500px;
  }
  .input-container {
    display: flex;
    align-items: center;
  }

  .modal-content {
    display: flex;
    flex-direction: row;
  }

  .styleButtons{
    display: flex;
    justify-content: flex-end;
    margin-right: 1em ;
  }

  .widthBoton{
    width: 20em;
}

::ng-deep .mat-mdc-snack-bar-container {
  --mdc-snackbar-container-shape: 6em;
  --mdc-snackbar-supporting-text-line-height: 0.2em;

  .mat-mdc-snack-bar-label {
    display: flex;
    justify-content: center;
  }

  &.error-snackbar {
    --mdc-snackbar-container-color: var(--error-color);
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #000000!important;
  }

  &.success-snackbar {
    --mdc-snackbar-container-color: var(--secondary-color);
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #000000!important;
  }
}
