<form>
  <div class="card-title">
    <h1>Iniciar sesión</h1>
  </div>

  <div class="inputs-container">
    <div class="form-group" [ngClass]="{'error': data[0].error}">
      <label for="email">Correo electronico</label
      >
      <input name="email"
        autofocus
        (keydown)="onInputChange()"
        (focusout)="onFocusOut($event)"
        [(ngModel)]="data[0].text"
        type="email"
        class="form-control"
        id="email-input"
        placeholder="tumail@dominio.com"
      />

      <div class="error-message">
        {{data[0].errorMessage}}
      </div>
    </div>

    <div class="form-group" [ngClass]="{'error': data[1].error}">
      <label for="password">Contraseña</label
      >
      <div class="password-input">
        <input name="password"
          (keydown)="onInputChange()"
          (focusout)="onFocusOut($event)"
          [type]="!this.passwordHidden ? 'text' : 'password'"
          [(ngModel)]="data[1].text"
          class="form-control password"
          id="password-input"
          placeholder="Digite su contraseña"
        />
        <!-- Add eye to show or unshow password in input that activate and desactivate -->
        <mat-icon
          type="button"
          class="password-toggle-button"
          [attr.aria-label]="passwordHidden ? 'Mostrar contraseña' : 'Ocultar contraseña'"
          (click)="togglePasswordVisibility()"
        >
          {{ passwordHidden ? 'visibility_off' : 'visibility' }}
        </mat-icon>
      </div>

      <div class="error-message">
        {{data[1].errorMessage}}
      </div>

      <!-- <input-error [isError]="true">Aqui va el error</input-error> -->

    </div>

    <div class="link-containers">
      <p>¿Olvidaste tu contraseña? <a routerLink="/authentication/change-password">Click aqui</a></p>
      <a routerLink="/authentication/register">¿No tienes una cuenta?</a>
    </div>

  </div>



  <button
    mat-raised-button
    color="primary"
    class="auth-submit-button"
    [disabled]="!isFormValid()"
    (click)="logIn($event)"
  >Ingresar</button>

</form>
