<nav-bar></nav-bar>
<div class="spinner-container" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div class="home-container">
  <h1 class="title">{{lodging.name}}</h1>
  <div class="row">
      <div class="separator">
        <h3><mat-icon class="icon">star</mat-icon><b>{{lodging.averageScore | number : "1.2-2" }} puntos</b> - 15 opiniones</h3>
        <h3><mat-icon class="icon">room</mat-icon><b>{{lodging.address}}</b> - {{lodging.country}}</h3>
        <h3 *ngIf="lodging.houseKepping; else elseBlock">
            <mat-icon class="icon">brush</mat-icon><b>Con servicio de limpieza</b>
        </h3>
        <ng-template #elseBlock>
          <p>
            <mat-icon class="icon">brush</mat-icon><b>Sin servicio de limpieza</b>
          </p>
        </ng-template>
      </div>
    <div class="separator">
      <app-image-lodging class="reserve-data"
        [lodging]="lodging"
      ></app-image-lodging>
      <app-reserve-box class="reserve-data"
        [lodging]="lodging"
        [fromDateStr]="fromDate"
        [toDateStr]="toDate"
        [capacityValue]="capacity"
      ></app-reserve-box>
    </div>
  </div>
  <app-extra-data
    [lodging]="lodging"
  ></app-extra-data>
  <mat-divider></mat-divider>
  <div class="container-comment">
  <div *ngIf="comment && comment.length > 0; else noComments">
    <div *ngFor="let comentarioItem of comment">
      <app-card-comment [comentario]="comentarioItem"></app-card-comment>
    </div>
  </div>
  <ng-template #noComments>
    <p>No hay comentarios</p>
  </ng-template>
  </div>
</div>
